body{
    width:900px;
    height:900px;
    background-color:grey;
    margin:auto;
}

#splash{
    background-image:url("../img/firefly-splash.jpg");
    background-repeat:no-repeat;
    height:480px;
    width:720px;
    margin:auto;
    margin-top:25px;
}

#jeu{
    height:700px;
    width:900px;
    position:relative;
    margin-top:25px;
    background-color:black;
    display:none;
    overflow:hidden;
}
.enterprise {
    height:150px;
    width:150px;
    background-image:url("../img/ship2.png");
    position:absolute;
    background-repeat:no-repeat;
    background-position:center;
}

.ship {
	height:150px;
    width:150px;
    background-image:url("../img/ship.png");
    position:absolute;
    background-repeat:no-repeat;
    background-position:center;
}

#vaisseau{
    height:150px;
    width:150px;
    background-image:url("../img/firefly.png");
    position:absolute;
    background-repeat:no-repeat;
    background-position:center;
}

.etoile{
    background-color:white;
    position:absolute;
}

.missile{
    background-color:red;
	height:12px;
    width:2px;
    position:absolute;
}

#over {
    height:480px;
    width:720px;
    margin-top:25px;
    background-image:url("../img/game-over.jpg");
    background-repeat:no-repeat;
    display:none;
}