a{
	color:orange;
}

body{
	background-color:black;
	color:white;
    text-align:center;
    font-size:small;
	width:auto;
	height:auto;
}

.spanim{
	display:none;
}

#div{
	display:none;
}

#main{
    margin:auto;
    width:auto;
    height:auto;
    top:0px;
    left:0px;
    border-radius:10px;
	padding:20px;
	z-index: 10;
	position: absolute;
	display:none;
}

#footer{
    margin:auto;
    width:400px;
    background-color:#222222;
	opacity:0.7;
    border-radius:10px;
    padding:5px;
    position:absolute;
	display:none;
	z-index:10;
}

#connection{
    position:absolute;
    width:350px;
    margin:auto;
	opacity:0.8;
    border-radius:10px;
    background-color:#111111;
    padding:10px;
}

.register{
	background-color:black;
	width:300px;
	margin:auto;
	margin-top:-70px;
	padding:10px;
	opacity:0.8;
	border-radius:10px;
	display:none;
}


#liste{
	border-radius:10px;
	float:right;
	width:150px;
	height:auto;
	margin:10px;
	clear:both;
	background-color:#111111;
	opacity:0.7;
	padding:10px;
    z-index: 10;
    position:absolute;
}

#tchat{
	width:800px;
	margin-left:17%;
	z-index: 10;
}

#conv{
	width:300px;
	z-index: 10;
}

#text{
	border-radius:10px;
	margin:10px;
	height:700px;
	padding:10px;
	text-align:left;
	background-color:#111111;
	opacity:0.7;
	overflow-y:auto;
	overflow-x:auto;
	z-index: 10;
}

#messages{
	width:auto;
    text-align:center;
	z-index: 10;
}