a{
	color:#66FF00;
}

body{
    background-color:black;
    color:#66FF00;
    text-align:center;
}

.main{
    margin:auto;
    width:900px;
    height:auto;
    border-radius:10px;
    background-color:#222222;
    margin-top:20px;
    margin-bottom:20px;
	padding:20px;
}

.footer{
    margin:auto;
    width:250px;
    background-color:#111111;
    border-radius:10px;
    padding:5px;
}

#connection{
    position:relative;
    width:350px;
    margin:auto;
    border-radius:10px;
    background-color:#111111;
    padding:10px;
	margin-top:100px;
	margin-bottom:120px;
}

#inscription{
    position:relative;
    width:350px;
    margin:auto;
    border-radius:10px;
    background-color:#111111;
    padding:10px;
}

#liste{
	border-radius:10px;
	float:right;
	width:150px;
	height:auto;
	margin:10px;
	clear:both;
	background-color:#111111;
	padding:10px;
}

#tchat{
	width:700px;
	margin-left:10px;
}

#conv{
	width:300px;
}

#text{
	border-radius:10px;
	margin:10px;
	height:700px;
	padding:10px;
	text-align:left;
	background-color:#111111;
}
#messages{
	width:660px;
}