a{
	color:#66FF00;
}

body{
    background-color:black;
    color:#66FF00;
    text-align:center;
}

.main{
    margin:auto;
    width:900px;
    height:400px;
    border-radius:10px;
    background-color:#222222;
    margin-top:20px;
    margin-bottom:20px;
    padding-top:150px;
}

.footer{
    margin:auto;
    width:250px;
    background-color:#111111;
    border-radius:10px;
    padding:5px;
}

#login {
	margin-left:25%;
	height:0px;
}

#logout {
	width:25px;
	height:25px;
	background-image:url("../images/logout.png");
	background-repeat:no-repeat;
	background-size:100%;
	float:right;
}

#connection{
    position:relative;
    width:350px;
    margin:auto;
    border-radius:10px;
    background-color:#111111;
    padding:10px;
}

#inscription{
    position:relative;
    width:350px;
    margin:auto;
    border-radius:10px;
    background-color:#111111;
    padding:10px;
}