
/* ---------------------------------------------------
 *					                  
 *    Projet synthèse : H2013		        
 *    Fait Par : Erwan Palanque & Augustin Paiement 			        
 *					                   
 *--------------------------------------------------- */

/* -------------------------------------------------------------------- */
/* Généralité                                                          */
/* -------------------------------------------------------------------- */
a{text-decoration:none;}

body{
margin:auto;
background-color:#666666;
width:auto;
height:auto;
}

* {
	margin:0px;
	padding:0px;
}

html {
	font-family:Verdana;
	font-size:13px;
	color:#333;
	background-color:white;
}
ul{
text-decoration:none;
list-style-type:none;
color:#00CC33;
font-weight:bolder;
font-style:oblique;
}
h1 {
	font-size:1.3em;
}

h2 {
	margin-top:20px;
	font-size:1.1em;
}

p {
	margin-bottom:10px;
	margin-top:10px;
}

#sup {
	width:15px;
	height:15px;
	background-image:url("../images/delete.png");
	background-repeat:no-repeat;
	background-size:100%;
	margin-left:5px;
	margin-right:5px;
	float:left;
}
#modif {
	width:15px;
	height:15px;
	background-image:url("../images/edit.png");
	background-repeat:no-repeat;
	background-size:100%;
	margin-left:5px;
	margin-right:5px;
	float:left;
}

a {
	color:#5e5e5e;
}

a:hover {
	text-decoration:none;
}

.clear {
	clear:both;
}
.floatLeft{float:left;}
.floatRight{float:right;}
.block{display:block;}
.site-container {
}

#boxA{
	position:absolute; 
	width: 755px;
	height:548px;
	border:solid 2px green;
	background-color:#333333;
	opacity: 0.9;
	z-index:1;
	display:none;
}
.col_l{

	margin-left:40px;
	margin-top:120px;
	float:left;
}

.page-container {
	min-height:610px;
	width:864px;
	background-repeat:no-repeat;
	margin:0 auto;
	border:outset 2px white;
}

.page-content {
	margin-top:30px;
	border:solid 3px black;
}

.page-title-section {
	float:left;
	width:400px;
	padding-left:130px;
	padding-top:25px;
	height:95px;
	background-position:0% 50%;
	background-repeat:no-repeat;
}

.menu-section {
	float:right;
	width:300px;
	margin-top:25px;
	text-align:right;
}

.menu-section ul  li{
	display:inline;
	list-style-type:none;
}

.bandeDuBas{
width:860px;
height:80px;
background-image:url(../images/bande_marge_bas.gif);
background-position:center;
background-repeat:no-repeat;
background-size:100%;
position:relative;
bottom:126px;
}
.iPad_Bas200{
margin-top:185px;
}
.dateBox{
width:25px;
height:25px;
}
.grDate{
display:block;
}
.iPad_Rapport{
padding-left:90px;
padding-top:25px;
}
.iPad_L_Rapport{
margin-left:150px;
margin-top:50px;
}
.elem_menuR{
width:80px;
height:25px;
background-image:url(../images/rapport/bckg_boutonMenu.gif);
background-position:center;
background-repeat:no-repeat;
background-size:100%;
padding-top:5px;
text-align:center;
}
.elemP{
	float:left;
	margin-top:25px;
}

.elemD{

	margin-top:15px;
}
.formAjout
{
	margin-right:100px;
	float:right;
	display:block;
	width:75px;
}
.formDebut{
float:left;
display:block;
width:75px;
margin-left:40px;
}
.iPad_1menu{
margin-left:150px;
margin-top:35px;
}
.iPad_menuL{margin-left:35px;
margin-top:35px;}
#t1_rapport{ 
margin-left:50px;
 }
/* -------------------------------------------------------------------- */
/*Page Index   : LOGIN                                                      */
/* -------------------------------------------------------------------- */

.main_frame{

background-image:url(../images/login/bckg_login.gif);
background-position:center;
background-repeat:no-repeat;
background-size:100%;
width:100%;
height:900px;
}
.bckg_pan_login{
width:360px;
height:220px;
background-image:url(../images/login/bckg_1.gif);
background-position:center;
background-repeat:no-repeat;
background-size:100%;
position:relative;
top:346px;
left:250px;
}
#login_title{
position:relative;
top:-130%;
left:-30%;
width:100px;
height:auto;
}
#them_titre_login
{
font-size:24px;
font-weight:bolder;
}
.grT_Login{
margin-left:50px;
margin-top:50px;
 }
.grLogin{ 
margin-right:50px;
margin-top:50px;
}
.pad_15{ margin-bottom:15px;}
.gr_submit{ 
margin:50px 100px ; 
}
#mdpf{
	color:#181818 ;
}
#reco_email{
	text-align:center;
	margin-left:20px;
	margin-top:10px;
	width:300px;
	height:90px;
	padding:5px;
	display:none;
	color:white;
	background-color:#383838;
	border-radius:10px;
}
#resultat{
	color:red;
}

/* -------------------------------------------------------------------- */
/* Page Accueil                                                         */
/* -------------------------------------------------------------------- */

.frame_bck1{ 
background-image:url(../images/main_bckg.gif);
background-position:center;
background-repeat:no-repeat;
background-size:100%;
width:100%; 
height:900px;

}
.frame_bck2{
background-image:url(../images/Accueil/bckg_pano_Home.gif);
background-position:center;
background-repeat:no-repeat;
background-size:100%;
width:550px;
height:550px;
position:relative;
top:100px;
left:185px;
}
.frame_bck3
{
background-image:url(../images/Accueil/bckg_ficheAccueil.gif);
background-position:center;
background-repeat:no-repeat;
background-size:85%;
width:400px;
height:350px;
position:absolute; 
top:90px;
left:80px;
}
.statsAccueil{font-size:10px; font-family:arial; font-weight:bolder; }
.stats{font-size:10px; font-family:arial; font-style:oblique;  }
.mainTitre{
position:relative;
top: 10px;
left:50px;
}
.them_titre_template
{
font-size:25px;
font-weight:bolder;
}
.menuAccueil{
width:150px;
height:auto;
position:relative;
bottom:285px;
left:25px;
}
.bckg_CF{ 
background-image:url(../images/autre/bckg_Principal_CF.gif);
background-position:center;
background-repeat:no-repeat;
background-size:100%;
width:760px;
height:550px;
margin-left:50px;
margin-top:80px;
}
.bckg_info_Clients
{
background-image:url(../images/autre/bckg_fiche2.gif);
background-position:center;
background-repeat:no-repeat;
background-size:100%;
width: 400px;
height:275px;
margin-top:10px;
padding-top:20px;
margin-left:45px;
float:left;
}
.elementMenu{
width:125px;
height:40px;
background-color:#CCCCCC;
border-bottom:solid 6px  #FFFFFF;
margin:10px 10px;
padding-top:0.1px;
}
.elem_option_CF{width:100px; background-color:#CCCCCC; margin:20px 46px; text-align:center;padding:10px 0 ; border-radius:2px; font-size:10px;}
.option_CF{float:right; margin-top:-5px; margin-right:20px;}
#reply{ color:red;}
#bckg_resultat_CF{ 
width:650px; 
height:180px;
margin-left:-8px;
margin-top:-8px;
border:solid 10px #CCCCCC;
background-image:url(../images/autre/metal.jpg);
background-position:center;
background-repeat:no-repeat;
background-size:100%;
opacity:0.2px;
}
#container{
border:solid 10px #CCCCCC;
width:650px; 
height:180px;
border:solid 10px #CCCCCC;
position:relative;
top:310px;
left:45px;
}
.popup{
	width: 400px;
	height:275px;
	opacity:0.5px;
	background-color:#666666;
	z-index:5;
	display:none;
	border:solid 3px red;
}
.elemC{ float:left;}

.columnFix{
	width: auto; 
	height:auto;
	padding:10px 50px;
	margin-top:15px;
}

.elmTitre{}
.reponse{
	border:solid 1px green;
	color:green;
	float:right;
	width:150px;
	height:25px;
	margin-top:-20px;
	margin-right:20px;
	padding-top:10px;
	text-align:center;
}
.groupFormClient{margin-left:30px;}
/*
*OPTION DE PADDING
*/
.iPad_titre_CF{ position:relative; top:20px; left:45px;}
.iPad_Top10{margin-top:10px;}
.iPad_Top65{margin-top:100px;}

/* -------------------------------------------------------------------- */
/* Rapport page                                                           */
/* -------------------------------------------------------------------- */
#bandeMenu{ 
width:865px; 
height:100px; 
border-top: solid 3px white;
border-bottom:solid 3px white;
position:relative;
top:50px;
}
.menuG{width:700px; height:40px;  position:relative; top:0px; float:left; left:50px;}
.box_rapport{
background-image:url(../images/rapport/bckg_pano_rapport.gif);
background-position:center;
background-repeat:no-repeat;
background-size:100%;
width:840px;
height:490px;
position:relative;
top:60px;
left:10px;
}
#bande_rapport{
background-image:url(../images/rapport/bckg_bande_haut.gif);
background-position:center;
background-repeat:no-repeat;
background-size:100%;
width:838px;
height:100px;
position:relative;
top:60px;
left:2px;
}
#boxR{
margin-left:43px;
display:none;
width:750px;
height:250px;
position:relative;
top:100px;
}
#ligneR{
width: 750px;
height:auto;
border:solid 2px #CCCCCC;
position:relative;
top: 370px;
left:40px;
}
#boutonMenu{
background-image:url(../images/rapport/bckg_fiche.gif);
background-position:center;
background-repeat:no-repeat;
background-size:100%;
width:85px;
height:50px;
}
.iPad_tt{padding-top:15px;}
.iPad_BR{padding-top:25px;}
.iPad_L50{margin-top:100px; margin-left:50px;}
.iPad_10T{margin-left:50px ; margin-top:25px; }
.iPad_10T2{margin-top: 25px; margin-right:150px; }
.grMenu{ margin:40px 125px; }

.col_r{
	
	display:none;

}
.col_PR{
	width: 340px;
	height:300px;
	border:solid 5px black;
	float:right;
	margin-top: 9px;
	margin-right:40px;
	background-image:url(../images/autre/planB.jpg);
	background-repeat:no-repeat; 
	background-size: 150%;
	background-position: center;
}
/* -------------------------------------------------------------------- */
/*                                                            */
/* -------------------------------------------------------------------- */

#page-index img {
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	border:1px solid #333;
}


/* -------------------------------------------------------------------- */
/* Images page                                                          */
/* -------------------------------------------------------------------- */

#page-images {
	
}

#page-images ul { 
	list-style: none; 
}

#page-images ul li { 
	display: inline; 
}
#page-images ul img {
	border: 5px solid #3e3e3e;
	border-width: 5px 5px 20px;
}

#page-images ul a:hover img {
	border: 5px solid #fff;
	border-width: 5px 5px 20px;
	color: #fff;
}

#page-images ul a:hover { 
	color: #fff; 
}

/* -------------------------------------------------------------------- */
/* Contact page                                                         */
/* -------------------------------------------------------------------- */

#page-contact {
	padding-right:300px;
	height:350px;
}
.floatRight{float:right;}