@charset "utf-8";

body {
    margin:0;
    padding:0;
}

ul {
    list-style:none;
}

a {
    text-decoration:none;
}

li {
    width:150px;
    float:left;
    color:white;
    background-color:grey;
    opacity:0.7;
    margin:2px;
    overflow:hidden;
}

li ul{
    width:150px;
    position:absolute;
    left:-999px;
}

li:hover ul {
    left:auto;
}